doctype html
html
  script(src="/system/js/lib/jquery-1.10.2.min.js")
  script(src="/system/js/lib/lodash.compat.js")

  script(src="/system/js/lib/angular.js")
  script(src="/system/js/lib/angular-resource.min.js")
  script(src="/system/js/lib/angular-route.min.js")

  script(src="/system/js/user/main.js")
  script(src="/system/js/user/login.js")

  body
    div(style="width:900px;margin:10px auto", ng-app="user.login")
      h1 login or register

      div
        div(ng-controller="login")
          div
            label Email
            div
              input(type="text",placeholder="Username" ng-model="email")

          div
            label Password
            div
              input(type="password" ng-model="password")

          input(type="button",ng-click="login()",value="login")

      div(style="margin-top:50px")
        div(ng-controller="register")
          div
            label Username
            div
              input(type="text",placeholder="Username" ng-model="name")
          div
            label Email
            div
              input(type="text",placeholder="Username" ng-model="email")
          div
            label Password
            div
              input(type="password" ng-model="password")

          input(type="button",ng-click="register()",value="register")

