
script(src="/system/js/lib/jquery-1.10.2.min.js")
script(src="/system/js/lib/lodash.compat.js")

script(src="/system/js/lib/angular.js")

script(src="/system/js/node/create.js")


if user
  div(ng-app="node.create")
    h1 hello #{user.name}

    form(ng-controller="create")
      div
        input(type="text",ng-model="title")
      div
        textarea(ng-model="content")
      div
        input(type="button",value="submit",ng-click="submit()")
else
  h1 please login first