// 多说评论框 start
section(id="duoshuo-plugin",class="wrapper style4 container")
    div.ds-thread(data-thread-key="#{post.id}",data-title="#{post.title}",data-url="http://theonejs.com/page/node/#{post.id}")
    script.
        var duoshuoQuery = {short_name:"zerojs",theme:'none'};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
