footer#footer
  ul.icons
    li
      a.icon.circle.fa-twitter(href='#')
        span.label Twitter
    li
      a.icon.circle.fa-facebook(href='#')
        span.label Facebook
    li
      a.icon.circle.fa-google-plus(href='#')
        span.label Google+
    li
      a.icon.circle.fa-github(href='http://github.com/sskyy/twenty')
        span.label Github
  span.copyright Copyright &copy; 2014. onezerojs.com All rights reserved.