footer#footer
  ul.icons
    li
      a.icon.circle.fa-weibo(href='http://weibo.com/twentyjs')
        span.label Weibo
    li
      a.icon.circle.fa-github(href='http://github.com/sskyy/twenty')
        span.label Github
  span.copyright Copyright &copy; 2014. onezerojs.com All rights reserved.