meta(http-equiv='content-type', content='text/html; charset=utf-8')
meta(name='description', content='')
meta(name='keywords', content='')
link(rel="shortcut icon",href="/twenty/favicon.ico")



//libs
script(src='/default/js/lib/jquery-1.10.2.min.js')
script(src='/default/js/lib/lodash.compat.min.js')
script(src='/default/js/lib/moment.min.js')
script(src='/default/js/lib/angular.min.js')
script(src='/default/js/lib/angular-sanitize.min.js')
script(src='/default/js/lib/angular-resource.min.js')
script(src='/default/js/lib/angular-ui-router.min.js')

<!--[if lt IE 9]>
<script src="/twenty/js/lib/html5shiv.js"></script>
<![endif]-->

//this is a hack script for angular to automatically collect all all modules in current page and do bootstrap
script(src="/default/js/lib/angular.ng-modules.js")

script(src='/default/js/common/util.js')
script(src="/default/js/common/preload.js")

link(rel='stylesheet', href='/default/styles/font-awesome.min.css')
link(rel='stylesheet', href='/twenty/css/custom.css')
link(rel='stylesheet', href='/twenty/css/duoshuo.css')

//responsive controll
//link(rel='stylesheet', href='/twenty/css/skel.css')
//link(rel='stylesheet', href='/twenty/css/style.css')
//link(rel='stylesheet', href='/twenty/css/style-narrow.css')


script(src="/twenty/js/lib/skel.min.js")
script(src="/twenty/js/lib/skel-layers.min.js")
script(src="/twenty/js/lib/init.js")
