title Twenty
meta(http-equiv='content-type', content='text/html; charset=utf-8')
meta(name='description', content='')
meta(name='keywords', content='')
//if lte IE 8
  script(src='css/ie/html5shiv.js')
script(src='/twenty/js/lib/jquery.min.js')
//script(src='/twenty/js/jquery.dropotron.min.js')
//script(src='/twenty/js/skel.min.js')
//script(src='/twenty/js/skel-layers.min.js')
//script(src='/twenty/js/init.js')

link(rel='stylesheet', href='/default/styles/font-awesome.min.css')
link(rel='stylesheet', href='/twenty/css/skel.css')
link(rel='stylesheet', href='/twenty/css/style.css')
link(rel='stylesheet', href='/twenty/css/style-narrow.css')
link(rel='stylesheet', href='/twenty/css/custom.css')
link(rel='stylesheet', href='/twenty/css/duoshuo.css')
