header#header
  h1#logo
    a(href='/') Twenty
  nav#nav
    ul
      li.current
        a(href='/') Welcome
      li
        a(href='/page/post') Blog
      if !user.name
        li
          a.button.special(href='/page/static/login') Sign Up