meta(charset='UTF-8')
title AdminLTE | Dashboard
meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
// bootstrap 3.0.2
link(href='/twenty/css/bootstrap.min.css', rel='stylesheet', type='text/css')
// font Awesome
link(href='/twenty/css/font-awesome.min.css', rel='stylesheet', type='text/css')
// Ionicons
link(href='/twenty/css/ionicons.min.css', rel='stylesheet', type='text/css')
// Morris chart
link(href='/twenty/css/morris/morris.css', rel='stylesheet', type='text/css')
// jvectormap
link(href='/twenty/css/jvectormap/jquery-jvectormap-1.2.2.css', rel='stylesheet', type='text/css')
// Date Picker
link(href='/twenty/css/datepicker/datepicker3.css', rel='stylesheet', type='text/css')
// Daterange picker
link(href='/twenty/css/daterangepicker/daterangepicker-bs3.css', rel='stylesheet', type='text/css')
// bootstrap wysihtml5 - text editor
link(href='/twenty/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css', rel='stylesheet', type='text/css')
// Theme style
link(href='/twenty/css/AdminLTE.css', rel='stylesheet', type='text/css')
// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
script(src='/default/js/lib/jquery-1.10.2.min.js')
script(src='/default/js/lib/lodash.compat.js')
script(src='/default/js/lib/moment.js')
script(src='/default/js/lib/angular.js')
script(src='/default/js/lib/angular-sanitize.min.js')
script(src='/default/js/lib/angular-resource.min.js')
script(src='/default/js/lib/angular-ui-router.min.js')
script(src='/default/js/common/util.js')


//dashboard
script(src='/twenty/js/lib/Chart.js')
script(src='/twenty/js/lib/angles.js')
script(src='/twenty/js/statistics/visit.js')
script(src='/twenty/js/statistics/board.js')
script(src='/twenty/js/widgets/time.js')
script(src='/twenty/js/admin/dashboard.js')

//posts
script(src='/default/js/lib/textAngular-sanitize.min.js')
script(src='/default/js/lib/textAngular.min.js')
script(src='/default/js/node/create.js')
script(src='/twenty/js/node/create.js')
script(src='/default/js/node/crud.js')
script(src='/twenty/js/node/crud.js')
script(src='/twenty/js/admin/post-manage.js')

//category
script(src='/default/js/index/create.js')
script(src='/twenty/js/category/create.js')
script(src='/default/js/index/crud.js')
script(src='/twenty/js/category/crud.js')
script(src='/twenty/js/admin/category-manage.js')

//user
script(src='/default/js/user/session.js')
script(src='/default/js/user/edit.js')

//comments
script(src='/twenty/js/comments/duoshuo.js')

//statistics
script(src='/twenty/js/statistics/duoshuo.js')


script(src='/twenty/js/admin/admin.js')

