aside.left-side.sidebar-offcanvas
    // sidebar: style can be found in sidebar.less
    section.sidebar
        // Sidebar user panel
        .user-panel
            .pull-left.image
                img.img-circle(src='/twenty/images/sskyy.png', width='100%',alt='User Image')
            .pull-left.info
                p Hello, Zoro
                a(href='#')
                    i.fa.fa-circle.text-success
                    | Online

        // sidebar menu: : style can be found in sidebar.less
        ul.sidebar-menu
            li(ui-sref-active='active')
                a(href='#index')
                    i.fa.fa-dashboard
                    span 控制台
                    i.fa.fa-circle-o.pull-right
            li.treeview(ui-sref-active='active')
                a(ui-sref='posts')
                    i.fa.fa-edit
                    span 文章
                    i.fa.fa-circle-o.pull-right
            li.treeview(ui-sref-active='active')
                a(href='#comments')
                    i.fa.fa-comment
                    span 评论
                    i.fa.fa-circle-o.pull-right
            li.treeview(ui-sref-active='active')
                a(href='#statistics')
                    i.fa.fa-bar-chart-o
                    span 统计
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='pages/examples/invoice.html')
                            i.fa.fa-angle-double-right
                            | 阅读排行榜
                    li
                        a(href='pages/examples/login.html')
                            i.fa.fa-angle-double-right
                            | 评论排行榜
                    li
                        a(href='pages/examples/register.html')
                            i.fa.fa-angle-double-right
                            | 访问记录


    // /.sidebar