<div>

    <div class="box" ng-controller="create">
        <div class="box-body">
            <form role="form">
                <div class="form-group">
                    <label>标题</label>
                    <input type="text" class="form-control" placeholder="Enter ..." ng-model="title">
                </div>
                <div class="form-group">
                    <label>内容</label>
                    <textarea class="form-control" rows="17" ng-model="content" placeholder="Enter ..."></textarea>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" ng-click="submit()">submit</a>
                </div>
            </form>
        </div>
    </div>
</div>
