<div>
    <div class="box">
        <div class="box-body">
            <form role="form">
                <div class="form-group">
                    <label>标题</label>
                    <input type="text" class="form-control" placeholder="Enter ..." ng-model="title">
                </div>
                <div class="form-group">
                    <label>分类</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="category" ng-options="c.name for c in categories"></select>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="newCategoryName" ng-change="setNewCategory(newCategoryName)" placeholder="或者新增一个">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>内容</label>
                    <!--<textarea text-angular class="form-control" rows="17" ng-model="htmlVariable" placeholder="Enter ..."></textarea>-->
                    <div text-angular
                         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','ul','ol'],[
                         'justifyLeft','justifyCenter','justifyRight','indent','outdent','html','insertImage','insertLink','insertVideo']]"
                         ng-model="content" placeholder="Enter ..."></div>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" ng-click="submit()">submit</a>
                </div>
            </form>
        </div>
    </div>
</div>
