/*
*/
body, #skel-layers-wrapper{
    /*background: #000 !important;*/
}
table thead{
    background: #333333;
    color: #fff;
    border-bottom: 1px #efefef solid;
}

table tr {
  text-align: center;
  padding: 10px 0;
  line-height: 50px;
  border-bottom: 1px #efefef solid;
}
table tr:last-child {
  border-bottom-width: 0px;
}

table.crud .actions{
    /*text-align: right;*/
}

table.crud .action{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    border-bottom-width: 0px ;
}
