.box
    .box-header
        i.fa.fa-envelope
        h3.box-title Quick Email
        // tools box
        .pull-right.box-tools
            button.btn.btn-info.btn-sm(data-widget='remove', data-toggle='tooltip', title='Remove')
                i.fa.fa-times
        // /. tools
    .box-body
        form(action='#', method='post')
            .form-group
                input.form-control(type='email', name='emailto', placeholder='Email to:')
            .form-group
                input.form-control(type='text', name='subject', placeholder='Subject')
            div
                textarea.textarea(placeholder='Message', style='width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;')
    .box-footer.clearfix
        button#sendEmail.pull-right.btn.btn-default
            | Send
            i.fa.fa-arrow-circle-right