.box
    .box-header
        i.fa.fa-list-ul
        h3.box-title 阅读排行榜
        .box-tools.pull-right

    // /.box-header
    .box-body
        ul.todo-list
            li
                // drag handle
                span.handle
                    i.fa.fa-ellipsis-v
                    i.fa.fa-ellipsis-v
                // checkbox
                input(type='checkbox', value='', name='')
                // todo text
                span.text Design a nice theme
                // Emphasis label
                small.label.label-danger
                    i.fa.fa-clock-o
                    | 2 mins
                // General tools such as edit or delete
                .tools
                    i.fa.fa-edit
                    i.fa.fa-trash-o
            li
                span.handle
                    i.fa.fa-ellipsis-v
                    i.fa.fa-ellipsis-v
                input(type='checkbox', value='', name='')
                span.text Make the theme responsive
                small.label.label-info
                    i.fa.fa-clock-o
                    | 4 hours
                .tools
                    i.fa.fa-edit
                    i.fa.fa-trash-o
            li
                span.handle
                    i.fa.fa-ellipsis-v
                    i.fa.fa-ellipsis-v
                input(type='checkbox', value='', name='')
                span.text Let theme shine like a star
                small.label.label-warning
                    i.fa.fa-clock-o
                    | 1 day
                .tools
                    i.fa.fa-edit
                    i.fa.fa-trash-o
            li
                span.handle
                    i.fa.fa-ellipsis-v
                    i.fa.fa-ellipsis-v
                input(type='checkbox', value='', name='')
                span.text Let theme shine like a star
                small.label.label-success
                    i.fa.fa-clock-o
                    | 3 days
                .tools
                    i.fa.fa-edit
                    i.fa.fa-trash-o
            li
                span.handle
                    i.fa.fa-ellipsis-v
                    i.fa.fa-ellipsis-v
                input(type='checkbox', value='', name='')
                span.text Check your messages and notifications
                small.label.label-primary
                    i.fa.fa-clock-o
                    | 1 week
                .tools
                    i.fa.fa-edit
                    i.fa.fa-trash-o
            li
                span.handle
                    i.fa.fa-ellipsis-v
                    i.fa.fa-ellipsis-v
                input(type='checkbox', value='', name='')
                span.text Let theme shine like a star
                small.label.label-default
                    i.fa.fa-clock-o
                    | 1 month
                .tools
                    i.fa.fa-edit
                    i.fa.fa-trash-o
    // /.box-body
    // /.box