doctype html
html
    head
        include common/head.jade
        link(rel='stylesheet', href='/twenty/css/duoshuo.css')
    body.index.loading
        // Header
        include common/header.jade
        article
            header.special.container
                h2 关于我们

            // One
            section.wrapper.style4.container.small
                // Content
                .content
                    section
                        p 我们的团队是完全自我驱动的远程办公团队，每个人都非常自由，同时也非常自律。
                            | 我们目前有一个共同的目标，做最好的CMS。同时也在筹划着一件更酷的，未来能改变世界的事情。如果你想加入我们，请email至zhenyu@onezerojs.com。不要忘记附上你的github地址。
                        p
                            img(src='http://zerojs.qiniudn.com/new_1.png', style='width: 25%;')
                            | &nbsp; &nbsp;侯振宇，前端工程师。微博：
                            a(href='http://weibo.com/u/1856964593') @侯振宇hzy
                            | 。github:
                            a(href='https://github.com/sskyy/') @sskyy
                            | 。
                            br
                        p
                            img(src='http://zerojs.qiniudn.com/new_3.png', style='width: 25%;')
                            | &nbsp; &nbsp;蔡蔡，设计师。微博:
                            a(href='http://weibo.com/206177708') @神经病回家了;
                            | 。
                            a(href='https://www.cai-cai.me') www.cai-cai.me
                            | 。
                            br
                        p
                            img(src='http://zerojs.qiniudn.com/new_2.png', style='width: 25%;')
                            | &nbsp; &nbsp;范铮。github:
                            a(href='https://github.com/chrisFan') @chrisFan
                            | 。
                            br
        include common/footer.jade
                    