doctype html
html
    head
        include common/head.jade
    body.index
        // Header
        include common/header-alt.jade
        section.wrapper.style3.container.special
            | 这是一个静态页面，像你展示如何自定义它。
        include common/footer.jade
                    