doctype html
html
  head
    include common/head.jade
    script(src="/default/js/lib/angular.js")
    script(src="/default/js/lib/angular-resource.min.js")
    script(src="/default/js/lib/angular-route.min.js")
    script(src="/default/js/lib/textAngular-sanitize.min.js")
    script(src="/default/js/lib/textAngular.min.js")

    script(src="/default/js/node/create.js")
    script(src="/twenty/js/node/create.js")
    link(rel="stylesheet",href="/default/styles/font-awesome.min.css")
  body.contact.loading
    // Header
    include common/header.jade
    // Main
    article
      header.special.container
        h2 Write your post.
      // One
      section.wrapper.style4.special.container.small(ng-app="node.create")
        // Content
        .content
          form(ng-controller="create")
            .row.half
              .12u
                input(type='text', name='title', placeholder='title',ng-model="title")
            .row.half
              .12u
                //div(text-angular,ng-model="htmlVaraible")
                textarea(rows=17, ng-model="content")
            .row
              .12u
                ul.buttons
                  li
                    a.button.special(ng-click="submit()") Submit
    // Footer
    include common/footer.jade
