doctype html
html
  head
    include common/head.jade
  body.index.loading
    // Header
    include common/header.jade
    article
      header.special.container
        h2.
          #{preload.data.post.title}
      // One
      section.wrapper.style4.container.small
        // Content
        .content
          section.
            !{preload.data.post.content}
    // Footer

    //include duoshuo
    include common/duoshuo.jade
    include common/footer.jade
