doctype html
html
    head
        include common/head.jade
        script(src="/default/js/index/crud.js")
        link(rel="stylesheet" href="/twenty/css/style-twoside.css")

        include common/preload-string

        script(src="/default/js/node/crud.js")

    body.index.loading(ng-modules="index.crud,node.crud")
        include common/sidebar.jade

        .right-side(ng-controller="node.crud",node-type="post",crud-search-options="limit,sort,skip,category.id")
            div
                include common/post.jade

            div(style="text-align:center;margin-bottom:10px" ng-show="nodes.length==10")
                a.button( href="javascript:;" ng-click="next(true)") 下一页

            include common/footer.jade

