doctype html
html
  head
    include common/head.jade
    link(rel='stylesheet', href='/twenty/css/duoshuo.css')

  body.index.loading
    // Header
    include common/header.jade

    article
      header.special.container
        h2.
          #{data.post.title}
      // One
      section.wrapper.style4.container.small
        // Content
        .content
          section.
            !{data.post.content}
    // Footer

    //include duoshuo
    include common/duoshuo.jade
    include common/footer.jade
