doctype html
html
    head
        include common/head.jade
        script(src="/default/js/index/crud.js")
        script(src="/twenty/js/category/crud.js")
        link(rel="stylesheet" href="/twenty/css/style-twoside.css")
    body.index.loading(ng-app="category.crud")
        include common/sidebar.jade

        .right-side
            each post in posts
                if post.title
                    include common/post.jade
            // Footer
            include common/footer.jade
