doctype html
html
    head
        meta(charset='UTF-8')
        title ZeroJS | Registration Page
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        link(rel="shortcut icon",href="/twenty/favicon.ico")
        // bootstrap 3.0.2
        link(href='/twenty/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        // font Awesome
        link(href='/twenty/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        // Theme style
        link(href='/twenty/css/AdminLTE.css', rel='stylesheet', type='text/css')
        link(href='/twenty/css/animate.css', rel='stylesheet', type='text/css')
        link(href='/twenty/css/login.css', rel='stylesheet', type='text/css')
        script(src='/default/js/lib/jquery-1.10.2.min.js')
        script(src='/default/js/lib/angular.js')
        script(src='/default/js/lib/angular-resource.min.js')
        script(src='/default/js/common/util.js')
        script(src="/default/js/user/login.js")
    body
        .form-box.hide.transparent(ng-app="user.login")
            .header
                h2 TWENTY
            form(ng-controller="register")
                .body
                    .form-group
                        input.form-control(type='text', name='name', placeholder='Full name',ng-model='name')
                    .form-group
                        input.form-control(type='text', name='email', placeholder='Email',ng-model='email')
                    .form-group
                        input.form-control(type='password', name='password', placeholder='Password',ng-model='password')
                .footer.text-center
                    button.btn.bg-aqua(type='submit',ng-click='register()') Sign up
        script.
            $(function(){
                $('.form-box').addClass('fadeIn animated').removeClass('hide')
            })