header.header
  a.logo(href='/', style="margin-left:10px")
    img(src='/twenty/images/logo.png', height='90%',alt='User Image')
  nav.navbar.navbar-static-top(role='navigation')
    // Sidebar toggle button
    .navbar-right
      ul.nav.navbar-nav
        li.dropdown.user.user-menu
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-smile-o
            span
              | {{user.name}}
              i.caret
          ul.dropdown-menu
            // User image
            li.user-header.bg-light-blue
              img.img-circle(src='img/avatar3.png', alt='User Image')
              p
                | Jane Doe - Web Developer
                small Member since Nov. 2012
            // Menu Body
            li.user-body
              .col-xs-4.text-center
                a(href='#') Followers
              .col-xs-4.text-center
                a(href='#') Sales
              .col-xs-4.text-center
                a(href='#') Friends
            // Menu Footer
            li.user-footer
              .pull-left
                a.btn.btn-default.btn-flat(href='#') Profile
              .pull-right
                a.btn.btn-default.btn-flat(href='#') Sign out