meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
link(rel="shortcut icon",href="./favicon.ico")
link(href='./css/bootstrap.min.css', rel='stylesheet', type='text/css')
link(href='./css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(href='./css/AdminLTE.css', rel='stylesheet', type='text/css')
link(href='./css/animate.css', rel='stylesheet', type='text/css')
link(href='./css/login.css', rel='stylesheet', type='text/css')
script(src='./js/lib/jquery-1.10.2.min.js')
script(src='./js/lib/angular.js')
script(src='./js/lib/angular-resource.min.js')
script(src='./js/common/util.js')