meta(charset='UTF-8')
title Twenty | Admin
meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
link(href='./css/bootstrap.min.css', rel='stylesheet', type='text/css')
link(href='./css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(href='./css/ionicons.min.css', rel='stylesheet', type='text/css')
link(href='./css/AdminLTE.css', rel='stylesheet', type='text/css')
link(rel="shortcut icon",href="/twenty/favicon.ico")

// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
script(src='./js/lib/jquery-1.10.2.min.js')
script(src='./js/lib/lodash.compat.min.js')
script(src='./js/lib/moment.min.js')
script(src='./js/lib/angular-file-upload-shim.min.js')
script(src='./js/lib/angular.min.js')
script(src='./js/lib/angular-file-upload.min.js')
script(src='./js/lib/angular-sanitize.min.js')
script(src='./js/lib/angular-resource.min.js')
script(src='./js/lib/angular-ui-router.min.js')
script(src='./js/common/util.js')
script(src='./js/common/preload.js')


//dashboard
script(src='./js/lib/Chart.js')
script(src='./js/lib/angles.js')
script(src='./js/statistics/visit.js')
script(src='./js/statistics/board.js')
script(src='./js/widgets/time.js')
script(src='./js/admin/dashboard.js')

//posts
script(src='./js/lib/textAngular-sanitize.min.js')
script(src='./js/lib/textAngular.min.js')
script(src='./js/lib/rangy-core.js')
script(src='./js/lib/rangy-selectionsaverestore.js')
script(src='./js/node/index.js')
script(src='./js/node/create.js')
script(src='./js/node/edit.js')
script(src='./js/node/upload.js')
script(src='./js/node/crud.js')
script(src='./js/admin/post-manage.js')

//category
script(src='./js/index/crud.js')

//user
script(src='./js/user/session.js')
script(src='./js/user/edit.js')

//comments
script(src='./js/comments/duoshuo.js')

//statistics
script(src='./js/statistics/duoshuo.js')

//setting
script(src='./js/setting/crud.js')


script(src='./js/admin/admin.js')

