.left-side
    .inner
        header
            h2
                a(href="/") TWENTY
        p
            | 做最好的博客框架
            br
            | V0.1.0 预览版

    ul.categories(ng-controller='index.crud' index-type="category")
        li.category(ng-repeat="category in indexes")
            a(href="/page/post?category.id={{category.id}}&preload=string")
                i.fa.fa-tag
                | {{category.name}}
        li.category
            a(href="/page/static/about")
                i.fa.fa-tag
                | 关于我
