<div class="margin" ng-controller="index.crud" index-type="category">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-6" ng-init="newItem={}">
            <input type="text" ng-model="newItem.name" class="form-control" placeholder="name">
        </div>
        <div class="col-xs-2">
            <a class="btn btn-info" ng-click="create(newItem)">create</a>
        </div>
    </div>

    <div class="box" >
        <!-- /.box-header -->
        <div class="box-body table-responsive  no-padding"  >
            <table class="table crud">
                <thead>
                <tr>
                    <th>分类</th>
                    <th>文章数</th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="index in indexes">
                    <td>
                        <h5>{{index.name}}</h5>
                    </td>
                    <td><h5>{{index.nodes|countNodesForIndex}}</h5></td>
                    <td class="operation">
                        <a class="btn btn-info" ng-click="edit(index, $index)">edit</a>
                        <a class="btn btn-danger" ng-click="remove(index, $index)">remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm inline">
                <li ng-repeat="page in pages">
                    <a ng-click="goto(page)" ng-class="{active:page==currentPage()}">{{page+1}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.box -->

</div>
