<div class="margin" >
    <div class="box" ng-controller="comments.duoshuo.newest" duoshuo-name="">
        <div class="box-header"><i class="fa fa-comments-o"></i>
            <h3 class="box-title">最新评论</h3>
        </div>
        <div id="chat-box" class="box-body chat" ><!-- chat item-->
            <div class="item" ng-repeat="comment in comments">
                <img ng-src="{{comment.author.avatar_url}}" alt="user image" class="">
                <p class="message">
                    <a ng-href="{{comment.author.url}}" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{comment.created_at|time:'hh:mm:ss'}}</small>
                        {{comment.author.name}}
                    </a>
                    {{comment.replyTo && ("回复 "+ comment.replyTo +": ") }}{{comment.message}}
                </p>
            </div>
        </div>
        <!-- /.chat-->
    </div>
</div>
