<div  class="margin">

    <div style="margin-bottom: 10px">
        <a class="btn btn-info" ui-sref="create">create</a>
    </div>

    <div class="box"  node-type="post" ng-controller="node.crud">
    <!-- /.box-header -->
        <div class="box-body table-responsive  no-padding">
            <table class="table crud">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>浏览量|源</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="node in nodes">
                        <td>
                            <h5><a href="/page/post/{{node.id}}">{{node.title}}</a></h5>
                        </td>
                        <td><h5>{{node.statistic.view||0}}|{{node.statistic.feed||0}}</h5></td>
                        <td class="operation">
                            <a class="btn btn-info " href="#/edit/{{node.id}}">edit</a>
                            <a class="btn btn-danger " ng-click="remove(node, $index)">remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm inline">
                <li ng-repeat="page in pages">
                    <a ng-click="goto(page)" ng-class="{active:page==currentPage()}">{{page+1}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.box -->

</div>
