<div  class="margin">
    <div class="box" ng-controller="setting.crud">
        <div class="box-body">
            <form role="form">
                <div class="form-group">
                    <label>自定义字段</label>
                    <div class="form-group" ng-repeat="(configName, configContent) in config">
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" disabled placeholder="字段名" ng-model="configName">
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" ng-model="config[configName]" placeholder="内容">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-danger" ng-click="reset()">reset</a>
                    <a class="btn btn-primary" ng-click="save()">save</a>
                    <label class="label label-info" ng-show="saved">saved</label>

                </div>
            </form>
        </div>
    </div>
</div>
