<div  class="margin">
    <div class="box">
        <div class="box-header"><i class="fa fa-list-ul"></i>

            <h3 class="box-title">阅读排行榜</h3>

            <div class="box-tools pull-right"></div>
        </div>
        <!-- /.box-header-->
        <div class="box-body" ng-controller="board">
            <ul class="todo-list">
                <li ng-repeat="post in posts">
                    <span class="text"><a href="/page/post/{{post.id}}" target="_blank">{{post.title}}</a></span>
                    <span class="text pull-right">{{post.view}}</span>
                </li>

            </ul>
        </div>
        <!-- /.box-body--><!-- /.box-->
    </div>

    <div class="box">
        <div class="box-header"><i class="fa fa-list-ul"></i>

            <h3 class="box-title">热评排行榜</h3>

            <div class="box-tools pull-right"></div>
        </div>
        <!-- /.box-header-->
        <div class="box-body" ng-controller="statistic.duoshuo.hottest" duoshuo-name="">
            <ul class="todo-list">
                <li ng-repeat="post in posts">
                    <span class="text"><a ng-href="{{post.url}}" target="_blank">{{post.title}}</a></span>
                    <span class="text pull-right">{{post.comments}}</span>
                </li>

            </ul>
        </div>
        <!-- /.box-body--><!-- /.box-->
    </div>


</div>