doctype html
html(ng-app='admin')
    head
        include partials/head-admin.jade
        //include partials/preload-string.jade
    body.skin-black(ng-controller='admin')
        // header logo: style can be found in header.less
        //include common/header-admin.jade
        .wrapper.row-offcanvas.row-offcanvas-left
            // Left side column. contains the logo and sidebar
            include partials/sidebar-admin
            // Right side column. Contains the navbar and content of the page
            aside.right-side

                section.content(ui-view)

                // /.content
            // /.right-side
        // ./wrapper

